<%- include("partials/header.ejs") %>

    <div class = "sub" id = "mainCont">
        <main>
            <div class = "sub" id = "floatingCont">
                <form method = "POST">
                    <div id = "formCont">
                        <div class = "top sub">
                            <div id = "coverImg_form">
                                <% if(locals.book){ %>
                                    <img class = "coverImg sub" src = "<%= book.cover %>">
                                <% } %>
                            </div>
                        </div>

                        <div class = "bottom sub">
                            <div id = "formTitle">
                                <% if(!locals.book){ %>
                                    <textarea id = "autoResize" type = "text" name = "title" maxlength = "48" placeholder = "Title" required></textarea>
                                <% }else{ %>
                                    <textarea id = "autoResize" type = "text" name = "title" maxlength = "48" placeholder = "Title" required><%= book.title %></textarea>
                                <% } %>
                            </div>

                            <div id = "formRating">
                                <select id = "ratingSelect" name = "rating">
                                    <% for (let i = 1; i <= 5; i++) { %>
                                        <option value="<%= i %>" <%= book && book.rating == i ? "selected" : "" %>> <%= "*".repeat(i) %> </option>
                                    <% } %>
                                </select>
                            </div>
                            <% if(!locals.book){ %>
                                <button id = "bookConfirm" formaction = "/add" type = "submit">Submit</button>
                            <% }else{ %>
                                <button id = "bookConfirm" formaction = "/edit/<%= book.id %>"" type = "submit">Submit</button>
                            <% } %>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <script>
        const textarea = document.getElementById("autoResize");

        function checkScroll(){
            textarea.style.height = "2.5rem";
            if (textarea.scrollHeight > textarea.clientHeight) {
                textarea.style.height = textarea.scrollHeight + "px";
            }
        }
        
        textarea.addEventListener("input", () => {
            checkScroll();
        });

        document.addEventListener("DOMContentLoaded", () => {
            checkScroll();
        });
    </script>
    

<%- include("partials/footer.ejs") %>