<%- include("partials/header.ejs") %>

    <div id = "mainCont">
        <main>
            <div class = "floatingCont">
                <div class = "left">
                    <div class = "book">
                        <div class = "top">
                            <div class= "cover">
                                <img class = "coverImg" src = "<%= book.cover %>">
                            </div>
                        </div>

                        <div class = "bottom">
                            <div class = "title">
                                <%= book.title %>
                            </div>

                            <div class = "rating">
                                <%= "*".repeat(book.rating); %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "right">
                    <div id = "bookNotes">

                    </div>
                </div>
            </div>
        </main>
    </div>

<%- include("partials/footer.ejs") %>