<%- include("partials/header.ejs") %>
        <div class = "main" id = "mainCont">
            <main>

                <div id = "floatingCont">

                    <div id = "filtersCont">

                        <div id = "filters">

                            <ul id = "filterOptions">
                                <li class = "filter"></li>
                                <li class = "filter"></li>
                                <li class = "filter"></li>
                            </ul>

                        </div>

                    </div>

                    <div id = "contentCont">
                        
                        <div id = "books">

                           
                            <div onclick = "location.href = '/new/0'" class = "book" id = "addBook">
                                <div id = "filler">
                                    <div id = "plus">+</div>
                                </div>
                            </div>


                            
                            <% if(locals.books){ %>
                                <% books.forEach((book) => { %>
                                    <div onclick = "location.href = '/book/<%= book.id %>'" class = "book" id = "book<%= book.id %>">

                                        <div class = "top main">
                                            <div class = "cover" id = "cover<%= book.id %>">
                                                <img class = "coverImg" src = "<%= book.cover %>">
                                            </div>
                                        </div>

                                        <div class = "bottom main">
                                            <div class = "bookTitle"> <%= book.title %> </div>

                                            <div class = "rating">
                                                <% for(i = 0; i < book.rating; i++){ %>
                                                    <div>*</div>
                                                <% } %>
                                            </div>

                                            <form class = "actions" method = "POST">
                                                <button class = "edit" type = "submit" formaction = "/edit/<%= book.id %>" onclick="event.stopPropagation()">E</button>

                                                <button class = "delete" type = "submit" formaction = "/delete/<%= book.id %>" onclick="event.stopPropagation()">X</button>
                                            </form>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } %>
                        </div>

                    </div>
                </div>
                
            </main>
        </div>
<%- include("partials/footer.ejs") %>