<%- include("partials/header.ejs") %>
        <div id = "mainCont">
            <main>

                <div id = "floatingCont">

                    <div id = "filtersCont">

                        <div id = "filters">

                            <ul id = "filterOptions">
                                <li class = "filter"></li>
                                <li class = "filter"></li>
                                <li class = "filter"></li>
                            </ul>

                        </div>

                    </div>

                    <div id = "contentCont">

                            <div id = "addBook">
                                <input type = "button" onclick = "location.href = '/new/0'" value = "Add Book">
                            </div>
                        
                        <div id = "books">
                            <% if(locals.books){ %>
                                <% books.forEach((book) => { %>
                                    <div class = "book" id = "book<%= book.id %>">

                                        <div id = "top">
                                            <div onclick = "location.href = '/book/<%= book.id %>'" class = "cover" id = "cover<%= book.id %>">
                                                <img src = "<%= book.cover %>">
                                            </div>

                                            <div id = "bookTitle"> <%= book.title %> </div>
                                        </div>

                                        <div id = "bottom">
                                            <div id = "rating">
                                                <% for(i = 0; i < book.rating; i++){ %>
                                                    <div>star</div>
                                                <% } %>
                                            </div>

                                            <form method = "POST">
                                                <input class = "edit" type = "submit" formaction = "/edit/<%= book.id %>">

                                                <input class = "delete" type = "submit" formaction = "/delete/<%= book.id %>">
                                            </form>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } %>
                        </div>

                    </div>
                </div>
                
            </main>
        </div>
<%- include("partials/footer.ejs") %>